<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- <link rel="stylesheet" href="/css/style.css"> -->

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact social-links">
              <p>
                Jeff Lutzenberger<br />
                Product Development Manager at WebFilings<br />
              </p>
              <ul class="lsf">
                <li><a href="http://www.linkedin.com/pub/jeff-lutzenberger/13/a4b/486/" class="lsf symbol" title="linkedin">linkedin</a>
                <li><a href="http://twitter.com/jlutzenberger" class="lsf symbol" title="twitter">twitter</a>
                <li><a href="http://github.com/jefflutzenberger" class="lsf symbol" title="github">github</a>
                <li><a href="https://plus.google.com/u/0/101890577283886862868/posts" class="lsf symbol" title="google">google</a>
                <li><a href="https://www.facebook.com/jeff.lutzenberger" class="lsf symbol" title="google">facebook</a>
                <li><a href="mailto://jefflutzenberger@gmail.com" class="lsf symbol" title="mail">mail</a>
              </ul>
              <br />
            </div>
          </div>
        </div>

    </body>
</html>
