<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- <link rel="stylesheet" href="/css/style.css"> -->

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact social-links">
              <p>
                Jeff Lutzenberger<br />
                Product Development Manager at WebFilings<br />
                jefflutzenberger@gmail.com
              </p>
              <p>
                <a href="http://twitter.com/jlutzenberger" class="lsf symbol" title="twitter">twitter</a>
                <a href="http://github.com/jefflutzenberger" class="lsf symbol" title="github">github</a>
                <a href="http://linkedin.com/" class="lsf symbol" title-"linkedin">linkedin</a>
              </p>
              <ul>
                <li><a href="http://twitter.com/jlutzenberger" class="lsf symbol" title="twitter">twitter</a>
                <li><a href="http://github.com/jefflutzenberger" class="lsf symbol" title="github">github</a>
                <li><a href="http://linkedin.com/" class="lsf symbol" title-"linkedin">linkedin</a>
              </ul>
            </div>
          </div>
        </div>

    </body>
</html>
